

  .send-message{
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }

  .chatroom {
      height: 100vh;
      width: 70%;
      background: white;
      margin-top: 10px;
  }

  .chatroom-parent {
      display: flex;
      justify-content: center;
      background: #FAFAFA;
  }