.form {
    min-height: 500px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    margin-bottom: 30px;
}
.form-background {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:  center;
    background: #FAFAFA;
    height: 100vh;
    width: 100vw;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-img {
    min-height: 250px;
    width: 350px;
    border: 1px solid black;
}

input {
    width: 300px;
    outline: none;
    border: 1px solid lightgray;
}

.form-input > p {
    margin: 0;
    font-size: .75rem;
}

.addpost {
    width: 90px;
    height: 30px;
    border: none;
    color:#494744;
    background-image: -webkit-radial-gradient(50% -46%, circle, #737373, #403d39);
    background-image: -o-radial-gradient(50% -46%, circle, #737373, #403d39);
    background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
    font-size: 16px;
    outline: none;
    color: white;

}

.form-container{
    padding: 5px;
}

.instruction {
    margin: 5px;
}

@media (max-width: 600px) {
    .form {
        min-height: 400px;
        width: 400px;
    }
    .form-img {
        min-height: 200px;
        width: 300px;
    }
}

@media (max-width: 420px) {
    .form {
        min-height: 350px;
        width: 350px;
    }
    .form-img {
        min-height: 200px;
        width: 250px;
    }
    input {
        width: 150px;
    }
    .instruction {
        font-size: .7rem;
    }
    .addpost {
        width: 80px;
        height: 30px;
        font-size: 14px;
    }
}
