@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

.nav-container{
    position: fixed;
    width: 100%
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00000088;
    color: white;
    height: 50px;
    font-family: 'Neucha', cursive;
    letter-spacing: 2px;
}

.links {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.link {
    padding: 10px;
}

.nav-items {
    background: #FAFAFA;
    margin: 0;
}

.profile-name {
    margin: 0;
    height: 10px;
}

.header > h1 {
    padding-left: 10px;
}

.header-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 420px) {
    .link {
        padding: 0;
    }
    .header-parent {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .farmers-markit {
        font-size: 1.35rem;
    }


}
