.auth-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.header {
    height: 50px;
    width: 100%;
    background-color: #00000088 !important;
}


.about-container {
    height: 325px;
    width: 275px;
    color: white;
    background: #00000088;
    margin-top: 40px;
    padding: 5px;
}

.about-auth-container {
    background: url('https://article.images.consumerreports.org/f_auto/prod/content/dam/CRO%20Images%202019/Money/04April/CR-Money-Inlinehero-grocery-store-best-produce-0419');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 60vh;
    /* display: flex;
    justify-content: space-around; */
    /* opacity: .5; */
}

.landing-parent{
    display: flex;
    justify-content: space-around;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 275px;
    width: 250px;
    background: white;
    box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
    margin-top: 70px;
    background: #FAFAFA;
}

.img-logo {
    margin-top:20px;
}

.sign-up-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-input{
    margin: 10px;
    border: none;
    height: 20px;
    width: 140px;
    padding-left: 7px;
    outline: none;
}

.btn-box {
    margin: 10px;
    width: 120%;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box > button {
    width: 90px;
    height: 35px;
    border: none;
    color:#494744;
    background-image: -webkit-radial-gradient(50% -46%, circle, #737373, #403d39);
    background-image: -o-radial-gradient(50% -46%, circle, #737373, #403d39);
    background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
    font-size: 16px;
    outline: none;
    color: white;

}

.login-register-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.btn-box > button:hover {
    cursor: pointer;
}

.functions-container {
    display: flex;
    justify-content: space-around;
    height: 40vh;
    width: 100%
}

.info {
    height: 275px;
    width: 250px;
    margin-top: 30px;
    color: #403d39;
}


