@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap');

.auth-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.auth-header {
    height: 50px;
    width: 100%;
    background-color: #00000088;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.auth-header > h1 {
    color: white;
    font-family: 'Neucha', cursive;
    letter-spacing: 2px;
    margin-left: 20px;
}

.title {
    font-size: 2rem;
    height: auto;
    width: 150px;
}

.about-container {
    height: 325px;
    width: 300px;
    color: white;
    background: #00000088;
    margin-top: 40px;
    text-align: start;
    padding: 5px;

}

.about > h2 {
    margin-top: 20px;
}

.about > p {
    margin-top: 30px;
}

.about-auth-container {
    background: url('https://article.images.consumerreports.org/f_auto/prod/content/dam/CRO%20Images%202019/Money/04April/CR-Money-Inlinehero-grocery-store-best-produce-0419');
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 60vh;
}

.landing-parent{
    display: flex;
    justify-content: space-around;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 325px;
    width: 300px;
    background: white;
    box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
    margin-top: 40px;
    background: #FAFAFA;
}

.sign-up-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-input{
    margin: 10px;
    border: none;
    height: 25px;
    width: 150px;
    padding-left: 7px;
    outline: none;
}

.btn-box {
    margin: 10px;
    width: 120%;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box > button {
    width: 90px;
    height: 35px;
    border: none;
    color:#494744;
    background-image: -webkit-radial-gradient(50% -46%, circle, #737373, #403d39);
    background-image: -o-radial-gradient(50% -46%, circle, #737373, #403d39);
    background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
    font-size: 16px;
    outline: none;
    color: white;

}

.login-register-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.btn-box > button:hover {
    cursor: pointer;
}

.functions-container {
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 100%
}

.info {
    height: 275px;
    width: 250px;
    margin: 30px 50px;
    color: #403d39;
    padding: 0px 25px;
}

.info-title {
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold !important;
}

.info > h5 {
    font-weight: 1;
    font-size: 1rem;
}

@media (max-width: 1000px){
    .info {
        font-size: 1.2rem;
        padding: 10px;
        font-weight: bold !important;
        margin: 0
    }
    .info-title{
        font-size: 1rem;
    }
}

@media (max-width: 920px){
    .about-container {
        height: 275px;
        width: 250px;
    }
    .sign-up-container {
        height: 275px;
        width: 250px;
    }
    .about > h2 {
        margin-top: 12px;
    }
    
    .about > p {
        margin-top: 22px;
    }
}

@media (max-width: 700px){
    .about-container {
        height: 250px;
        width: 225px;
        font-size: .75rem;
    }
    .sign-up-container{
        height: 250px;
        width: 225px;
    }
    .btn-box > button {
        width: 80px;
        height: 30px;
        font-size: 14px;
    }
    .info {
        height: 200px;
        width: 175px;
        font-size: .90rem;
    }
}

@media (max-width: 470px){
    .about-auth-container{
        height: 80vh;
        padding-bottom: 10px;
    }
    .landing-parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-container {
        height: 200px;
        width: 250px;
        margin: 10px;
        text-align: center;
    }
    .sign-up-container {
        height: 200px;
        width: 250px;
        margin: 10px;
    }
    .functions-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .header > h1 {
        font-size: 1.5rem;
    }

    .info {
        height: 175px;
        width: 250px;
        margin-top: 30px;
    }

    .about > h2 {
        margin-top: 10px;
    }
    
    .about > p {
        margin-top: 10px;
    }

    .title {
        font-size: 1.5rem;
        height: auto;
        width: auto;
    }

    .login-input{
        height: 20px;
        width: 140px;
    }
}



